body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

form {
  display: flex;
  flex-direction: column;
  width: 50%;
}

h3,
input,
textarea,
button {
  margin: 0.25rem;
}

section {
  margin: 0.25rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

article {
  margin: 0.5rem;
  padding: 0.75rem;
  border: 1pt solid grey;
}
